# ignore section that's file is too big
# whitelist using: ! (!rootFileSystem/boot/*.txt)

# Source code
# Distribution build
release/
iso/
build/

# rootFileSystem
# boot
# rootFileSystem/boot/*
# !rootFileSystem/boot/README.md
