# ignore section that's file is too big
# whitelist using: ! (!rootFileSystem/boot/*.txt)

# Source code
# boot
boot/
!boot/kernel_entry.S
!boot/Makefile
!boot/grub.cfg

# kernel
kernel/
!kernel/kernel.c
!kernel/Makefile

# Distribution build
release/
iso/

# rootFileSystem
# boot
rootFileSystem/boot/*
!rootFileSystem/boot/README.md
